<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xoi.smvitm">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/college_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/college_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".updatesActivity" />
        <activity android:name=".auth.splashActivity" />
        <activity android:name=".varnothsava.vSelectActivity" />
        <activity android:name=".home.student.addCircularActivity" />
        <activity android:name=".home.student.addEventActivity" />
        <activity android:name=".timetable.timeMain" />
        <activity android:name=".facultyDetail.faculty_details_activity" />
        <activity android:name=".home.student.feedPostActivity" />
        <activity android:name=".classroom.allotClassActivity" />
        <activity android:name=".academics.subject_selectActivity" />
        <activity android:name=".classroom.studAddElectiveActivity" />
        <activity android:name=".classroom.classroomCommmentActivity" />
        <activity android:name=".classroom.classroomFeedPostActivity" />
        <activity android:name=".classroom.studMainClassroom" />
        <activity android:name=".home.student.EventDetails" />
        <activity android:name=".store.storeActivity" />
        <activity android:name=".home.student.PDFReader" />
        <activity android:name=".home.student.feedCommmentActivity" />
        <activity android:name=".store.storeProductDetails" />
        <activity android:name=".main.student.studMainActivity" />
        <activity android:name=".auth.facultyRegister" />
        <activity android:name=".main.faculty.facMainActivity" />
        <activity android:name=".profile.facProfileActivity" />
        <activity android:name=".auth.facultyLogin" />
        <activity android:name=".profile.editStudProfActivity" />
        <activity android:name=".auth.selectLogin" />
        <activity android:name=".auth.loginActivity" />
        <activity android:name=".profile.studProfileActivity" />
        <activity android:name=".auth.studRegisterActivity" />
        <activity android:name=".home.student.FeedDetails" />
        <activity android:name=".academics.editCalendarEvent" />
        <activity android:name=".academics.addevent" />
        <activity android:name=".academics.MainActivitycal" />
        <activity android:name=".academics.study_meterialsActivity" />
        <activity android:name=".varnothsava.vMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.student.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>